/* 
Cinema Tycoon Stylesheet v1.0
Last Updated: 2017-Jan-03
Author: William R.A.D. Funk - http://WilliamRobertFunk.com 
*/
body
{
	background-color: #000000;
	color: #FFFFFF;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
#header
{
	/* Image from: http://freytheater.com/ */
	background: url("../images/marquee.gif") no-repeat center center;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 36px;
	height: 252px;
	margin: 0px;
	padding-top: 150px;
	text-align: center;
	width: 100%;
}
#header > h6
{
	margin: 0px;
	padding: 0px;
}
#header > h6 > a
{
	color: #00FF00;
	text-decoration: none;
}
#header > h6 > a:hover
{
	text-decoration: underline;
}
#hud
{
	border: 1px solid #00441C;
	padding-top: 20px;
}
#hud > div:first-child
{
	padding-bottom: 20px;
}
#hud > div.table-responsive
{
	border: none;
}
#ticket-booth-inactive
{
	/*
	*  Modified image from: https://openclipart.org/user-detail/Moini
	*  && https://openclipart.org/detail/3190/ticket
	*/
	background: url("../images/ticket-booth.png") no-repeat center center;
	height: 200px;
}
#ticket-booth-active
{
	/* Image from: https://openclipart.org/user-detail/Moini */
	background: url("../images/blank.png") no-repeat center center;
	height: 200px;
	padding-top: 55px;
	text-align: center;
}
#ticket-booth-active > button
{
	color: #000000;
}
#parking-inactive
{
	/*
	*  Modified image from: https://openclipart.org/user-detail/Moini
	*  && https://openclipart.org/detail/3190/ticket
	*/
	background: url("../images/parking.png") no-repeat center center;
	height: 200px;
}
#parking-active
{
	/* Image from: https://openclipart.org/user-detail/Moini */
	background: url("../images/blank.png") no-repeat center center;
	height: 200px;
	padding-top: 55px;
	text-align: center;
}
#parking-active > button
{
	color: #000000;
}
.centered
{
	text-align: center;
}
.left
{
	float: left;
}
.right
{
	float: right;
}