/* 
Cinema Tycoon Stylesheet v1.0
Last Updated: 2017-Jan-03
Author: William R.A.D. Funk - http://WilliamRobertFunk.com 
*/
body
{
	background-color: #000000;
	color: #FFFFFF;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
button,
select,
input
{
	color: #000000;
}
input[type='number']
{
	text-align: center;
}
select
{
	height: 26px;
	width: 40px;
}
#header
{
	/* Image from: http://freytheater.com/ */
	background: url("../images/marquee.gif") no-repeat center center;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 36px;
	height: 252px;
	margin: 0px;
	padding-top: 150px;
	text-align: center;
	width: 100%;
}
#header > h6
{
	margin: 0px;
	padding: 0px;
}
#header > h6 > a
{
	color: #00FF00;
	text-decoration: none;
}
#header > h6 > a:hover
{
	text-decoration: underline;
}
#hud
{
	border: 1px solid #00441C;
	padding-top: 20px;
}
#hud > div:first-child
{
	padding-bottom: 20px;
	padding-top: 10px;
}
#hud > div.table-responsive
{
	border: none;
}
#ticket-booth-inactive,
#parking-inactive,
#gameroom-inactive,
#office-inactive,
#snack-inactive,
#salon-inactive,
#workshop-inactive
{
	height: 320px;
}
#ticket-booth-active,
#parking-active,
#snack-active,
#gameroom-active,
#office-active,
#snack-active,
#salon-active,
#workshop-active
{
	height: 320px;
	padding-top: 100px;
	text-align: center;
}
#ticket-booth-inactive
{
	/*
	*  Modified image from: https://openclipart.org/user-detail/Moini
	*  && https://openclipart.org/detail/3190/ticket
	*/
	background: url("../images/ticket-booth.png") no-repeat center center;
}
#ticket-booth-active
{
	/* Image from: https://openclipart.org/user-detail/Moini */
	background: url("../images/blank.png") no-repeat center center;
}
#parking-inactive
{
	/*
	*  Modified image from: https://openclipart.org/user-detail/Moini
	*  && https://openclipart.org/detail/260680/car15
	*/
	background: url("../images/parking.png") no-repeat center center;
}
#parking-active
{
	/* Image from: https://openclipart.org/user-detail/Moini */
	background: url("../images/blank.png") no-repeat center center;
}
#gameroom-inactive
{
	/* Modified image from: https://openclipart.org/user-detail/Moini */
	background: url("../images/gameroom.png") no-repeat center center;
}
#gameroom-active
{
	/* Image from: https://openclipart.org/user-detail/Moini */
	background: url("../images/blank.png") no-repeat center center;
}
#office-inactive
{
	/* Modified image from: https://openclipart.org/user-detail/Moini */
	background: url("../images/office.png") no-repeat center center;
}
#office-active
{
	/* Image from: https://openclipart.org/user-detail/Moini */
	background: url("../images/blank.png") no-repeat center center;
	padding-top: 75px;
}
#office-active > select
{
	margin-bottom: 30px;
	text-align-last: center;
	width: 175px;
}
#pause.btn,
#play.btn,
#help.btn
{
	height: 20px;
	margin-bottom: -22px;
	padding-top: 0px;
	padding-bottom: 21px;
	z-index: 2;
}
#helpModal > p > span.glyphicon
{
	padding-top: 2px;
}
@media (min-width: 300px) {
	#pause.btn,
	#play.btn,
	#help.btn
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	#hud
	{
		font-size: 12px;
	}
	#snack-inactive
	{
		/*
		*  Modified image from: https://openclipart.org/user-detail/Moini
		*  && https://openclipart.org/detail/217027/office-services-icon-set
		*  && http://www.free-icons-download.net/images/coke-and-popcorn-icon-75211.png
		*/
		background: url("../images/snacks-small.png") no-repeat center center;
		height: 320px;
	}
	#snack-active
	{
		/* Image from: https://openclipart.org/user-detail/Moini */
		background: url("../images/blank.png") no-repeat center center;
		height: 320px;
		padding-top: 100px;
	}
	#workshop-inactive
	{
		/* Image from: https://openclipart.org/detail/141493/workshop-door-sign */
		background: url("../images/workshop-small.png") no-repeat center center;
		height: 320px;
	}
	#workshop-active
	{
		/* Image from: https://openclipart.org/user-detail/Moini */
		background: url("../images/blank.png") no-repeat center center;
		height: 320px;
		padding-top: 100px;
	}
	#salon-inactive
	{
		/*
		*  Modified image from: https://openclipart.org/user-detail/Moini
		*  && https://openclipart.org/detail/195943/film-reel
		*/
		background: url("../images/salon-small.png") no-repeat center center;
		height: 320px;
	}
	#salon-active
	{
		/* Image from: https://openclipart.org/user-detail/Moini */
		background: url("../images/blank.png") no-repeat center center;
		height: 320px;
		padding-top: 45px;
	}
	#startModal,
	#helpModal
	{
		background-color: rgb(25,74,112);
		border: 3px solid #FFFFFF;
		border-radius: 10%;
		color: #FFFFFF;
		font-size: 12px;
		padding: 0px 10px;
	}
	#helpModal
	{
		border-radius: 1%;
	}
	#startModal > p:first-child
	{
		padding-top: 25px;
	}
	#startModal > button,
	#helpModal > button
	{
		margin-bottom: 20px;
		margin-top: 20px;
	}
}
@media (min-width: 500px) {
	#hud
	{
		font-size: 14px;
	}
}
@media (min-width: 767px) {
	#helpModal
	{
		font-size: 13px;
	}
}
@media (min-width: 992px) {
	#snack-inactive
	{
		/*
		*  Modified image from: https://openclipart.org/user-detail/Moini
		*  && https://openclipart.org/detail/217027/office-services-icon-set
		*  && http://www.free-icons-download.net/images/coke-and-popcorn-icon-75211.png
		*/
		background: url("../images/snacks.png") no-repeat center center;
		height: 200px;
	}
	#snack-active
	{
		/* Modified image from: https://openclipart.org/user-detail/Moini */
		background: url("../images/blank-long.png") no-repeat center center;
		height: 200px;
		padding-top: 55px;
	}
	#workshop-inactive
	{
		/* Image from: https://openclipart.org/detail/141493/workshop-door-sign */
		background: url("../images/workshop.png") no-repeat center center;
		height: 200px;
	}
	#workshop-active
	{
		/* Modified image from: https://openclipart.org/user-detail/Moini */
		background: url("../images/blank-long.png") no-repeat center center;
		height: 200px;
		padding-top: 55px;
	}
	#salon-inactive
	{
		/*
		*  Modified image from: https://openclipart.org/user-detail/Moini
		*  && https://openclipart.org/detail/195943/film-reel
		*/
		background: url("../images/salon.png") no-repeat center center;
		height: 200px;
	}
	#salon-active
	{
		/* Modified image from: https://openclipart.org/user-detail/Moini */
		background: url("../images/blank-long.png") no-repeat center center;
		height: 200px;
	}
}
@media (min-width: 1200px) {
	#startModal
	{
		font-size: 14px;
	}
}
.centered
{
	text-align: center;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.btn.btn-flat
{
	height: 26px;
	margin-bottom: 3px;
	padding-bottom: 0px;
	padding-top: 0px;
}