/* 
Cinema Tycoon Stylesheet v1.0
Last Updated: 2017-Jan-03
Author: William R.A.D. Funk - http://WilliamRobertFunk.com 
*/
body
{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
h1
{
    background-color: #000000;
    color: #FFFFFF;
    line-height: 65px;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
}
.full-width
{
    width: 100%;
}