<div id="hud-container" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="HUDController as hudCtrl" ng-show="hudCtrl.state.isStarted && !hudCtrl.state.isHelp">
	<div id="hud" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
		<div class="centered col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
			--- Day: {{hudCtrl.timeData.day}} -- Season: {{hudCtrl.timeData.season}} -- Year: {{hudCtrl.timeData.year}} ---
		</div>
		<div class="table-responsive col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<table class="table">
				<tbody>
					<tr>
						<td>Bank: <span class="right">{{hudCtrl.miscData.balance | currency}}</span></td>
					</tr>
					<tr>
						<td>Salons: <span class="right">{{hudCtrl.salonData.numOfSalons}} / {{hudCtrl.salonData.maxSalons}}</span></td>
					</tr>
					<tr>
						<td>Total Seats: <span class="right">{{hudCtrl.salonData.totalSeats}} / {{hudCtrl.salonData.numOfSalons * 100}}</span></td>
					</tr>
					<tr>
						<td>Total Licenses: <span class="right">{{hudCtrl.miscData.numOfLicenses}}</span></td>
					</tr>
					<tr>
						<td>Snack Choices: <span class="right">{{hudCtrl.snackData.numOfSnacks}} / {{hudCtrl.snackData.maxSnacks}}</span></td>
					</tr>
					<tr>
						<td>Games Offered: <span class="right">{{hudCtrl.gameroomData.numOfGames}} / {{hudCtrl.gameroomData.maxGames}}</span></td>
					</tr>
					<tr>
						<td>Parking Levels: <span class="right">{{hudCtrl.parkingData.parkingLevels}} / {{hudCtrl.parkingData.maxParkingLevels}}</span></td>
					</tr>
					<tr>
						<td>Ticket Price: <span class="right">{{hudCtrl.miscData.ticketPrice | currency}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-responsive col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<table class="table">
				<tbody>
					<tr>
						<td>Total $ from Ticket Sales (last week): <span class="right">{{hudCtrl.profitData.profitTicketSales | currency}}</span></td>
					</tr>
					<tr>
						<td>Total $ from Snack Sales (last week): <span class="right">{{hudCtrl.profitData.profitSnackSales | currency}}</span></td>
					</tr>
					<tr>
						<td>Total $ from Game Sales (last week): <span class="right">{{hudCtrl.profitData.profitGamesSales | currency}}</span></td>
					</tr>
					<tr>
						<td>Total $ for Expenses (last week): <span class="right">{{hudCtrl.profitData.expenses | currency}}</span></td>
					</tr>
					<tr>
						<td>Total $ in Profit/Loss (last week): <span class="right">{{hudCtrl.profitData.netProfit | currency}}</span></td>
					</tr>
					<tr>
						<td>Total Employees: <span class="right">{{hudCtrl.employeeData.numOfEmployees}} / {{hudCtrl.employeeData.maxEmployees}} ( {{hudCtrl.employeeData.employeeResult}} )</span></td>
					</tr>
					<tr>
						<td>Current Promotion: <span class="right">{{hudCtrl.miscData.currentPromotion}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>