<div id="hud-container" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="HUDController as hudCtrl" ng-show="hudCtrl.state.isStarted && !hudCtrl.state.isHelp && !hudCtrl.state.isGameOver && !hudCtrl.state.isEvent">
	<nav id="main-nav" class="navbar navbar-default navbar-inverse navbar-fixed-bottom" role="navigation">
		<div class="floating-hud-row" style="margin-top: 18px;">
			<div class="floating-hud-text first"><u>Bank</u></div>
			<div class="floating-hud-text second"><u>Expenses (last week)</u>  +  </div>
			<div class="floating-hud-text third"><u>Profit/Loss (last week)</u></div>
		</div>
		<div class="floating-hud-row">
			<div class="floating-hud-text first">{{hudCtrl.getBalance() | currency}}</div>
			<div class="floating-hud-text second red">{{hudCtrl.profitData.expenses | currency}}</div>
			<div class="floating-hud-text third {{hudCtrl.colorClass}}">{{hudCtrl.profitData.netProfit | currency}}</div>
		</div>
	</nav>
	<div id="hud" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
		<div class="centered col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
			--- Day: {{hudCtrl.timeData.day}} -- Season: {{hudCtrl.timeData.season}} -- Year: {{hudCtrl.timeData.year}} ---
		</div>
		<div class="table-responsive col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<table class="table" style="margin-bottom: 0;">
				<tbody>
					<tr>
						<td>Bank: <span class="right">{{hudCtrl.getBalance() | currency}}</span></td>
					</tr>
					<tr>
						<td>Salons: <span class="right">{{hudCtrl.salonData.numOfSalons}} / {{hudCtrl.salonData.maxSalons}}</span></td>
					</tr>
					<tr>
						<td>Total Seats: <span class="right">{{hudCtrl.salonData.totalSeats}} / {{hudCtrl.salonData.numOfSalons * 100}}</span></td>
					</tr>
					<tr>
						<td>Licenses Owned: <span class="right">{{hudCtrl.miscData.numOfLicenses}}</span></td>
					</tr>
					<tr>
						<td>Licenses Available: <span class="right">{{hudCtrl.miscData.moviesAvailable.length-1}}</span></td>
					</tr>
					<tr>
						<td>Snack Choices: <span class="right">{{hudCtrl.snackData.numOfSnacks}} / {{hudCtrl.snackData.maxSnacks}}</span></td>
					</tr>
					<tr>
						<td>Games Offered: <span class="right">{{hudCtrl.gameroomData.numOfGames}} / {{hudCtrl.gameroomData.maxGames}}</span></td>
					</tr>
					<tr>
						<td>Parking Levels: <span class="right">{{hudCtrl.parkingData.parkingLevels}} / {{hudCtrl.parkingData.maxParkingLevels}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-responsive col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<table class="table" style="margin-bottom: 0;">
				<tbody>
					<tr>
						<td>$ from Ticket Sales (last week): <span class="right green">{{hudCtrl.profitData.profitTicketSales | currency}}</span></td>
					</tr>
					<tr>
						<td>$ from Snack Sales (last week): <span class="right green">{{hudCtrl.profitData.profitSnackSales | currency}}</span></td>
					</tr>
					<tr>
						<td>$ from Game Sales (last week): <span class="right green">{{hudCtrl.profitData.profitGamesSales | currency}}</span></td>
					</tr>
					<tr>
						<td>$ for Expenses (last week): <span class="right red">{{hudCtrl.profitData.expenses | currency}}</span></td>
					</tr>
					<tr>
						<td>$ in Profit/Loss (last week): <span id="net-income" class="right {{hudCtrl.colorClass}}">{{hudCtrl.profitData.netProfit | currency}}</span></td>
					</tr>
					<tr>
						<td>Total Employees: <span class="right">{{hudCtrl.employeeData.numOfEmployees}} / {{hudCtrl.employeeData.maxEmployees}} ( {{hudCtrl.employeeData.employeeResult}} )</span></td>
					</tr>
					<tr>
						<td>Current Promotion: <span class="right">{{hudCtrl.miscData.currentPromotion}}</span></td>
					</tr>
					<tr>
						<td>Ticket Price: <span class="right">{{hudCtrl.miscData.ticketPrice | currency}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<table class="table">
				<tbody>
					<tr>
						<td colspan="2" ng-click="hudCtrl.toggleExpenses()" onclick="event.stopPropagation();" style="cursor: pointer;">$ for Upcoming Expenses (this week): <span class="red">{{hudCtrl.profitData.currentExpenses.total | currency}}</span><span class="right red" style="font-size: 24px; line-height: 12px;">{{hudCtrl.toggleState ? "-" : "+"}}</span></td>
					</tr>
					<tr ng-if="hudCtrl.toggleState">
						<td>$ for Rent (this week): <span class="right red">{{hudCtrl.profitData.currentExpenses.rent | currency}}</span></td>
					</tr>
					<tr ng-if="hudCtrl.toggleState">
						<td>$ for Salons (this week): <span class="right red">{{hudCtrl.profitData.currentExpenses.salons | currency}}</span></td>
					</tr>
					<tr ng-if="hudCtrl.toggleState">
						<td>$ for Snacks (this week): <span class="right red">{{hudCtrl.profitData.currentExpenses.snacks | currency}}</span></td>
					</tr>
					<tr ng-if="hudCtrl.toggleState">
						<td>$ for Games (this week): <span class="right red">{{hudCtrl.profitData.currentExpenses.games | currency}}</span></td>
					</tr>
					<tr ng-if="hudCtrl.toggleState">
						<td>$ for Employees (this week): <span class="right red">{{hudCtrl.profitData.currentExpenses.employees | currency}}</span></td>
					</tr>
					<tr ng-if="hudCtrl.toggleState">
						<td>$ for Parking (this week): <span class="right red">{{hudCtrl.profitData.currentExpenses.parking | currency}}</span></td>
					</tr>
					<tr ng-if="hudCtrl.toggleState">
						<td>$ for Promotionals (this week): <span class="right red">{{hudCtrl.profitData.currentExpenses.promotions | currency}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="centered col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="margin-bottom: 10px;">
			Click on any of the sections below to reveal their available options.
		</div>
	</div>
</div>