<div id="office-container" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-controller="OfficeController as officeCtrl" ng-show="officeCtrl.initial.isStarted" entering="officeCtrl.entered()" exiting="officeCtrl.exited()">
	<div id="office-inactive" ng-show="!officeCtrl.active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
	<div id="office-active" ng-show="officeCtrl.active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<button type="button" class="btn btn-info" ng-click="officeCtrl.changePromo()">Change</br>Promotion</button>
		<button type="button" class="btn btn-info" ng-click="officeCtrl.produceMovie()">Produce</br>Movie</button>
		<p>Staff Total: {{officeCtrl.employeeData.numOfEmployees}} / {{officeCtrl.employeeData.maxEmployees}} ( {{officeCtrl.employeeData.employeeResult}} )</p>
		<button type="button" class="btn btn-info" ng-click="officeCtrl.hireEmployee()">Hire</button>
		<button type="button" class="btn btn-info" ng-click="officeCtrl.fireEmployee()">Fire</button>
	</div>
</div>