<div id="parking-container" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-controller="ParkingLotController as parkCtrl" ng-show="parkCtrl.state.isStarted && !parkCtrl.state.isHelp && !parkCtrl.state.isGameOver && !parkCtrl.state.isEvent" entering="parkCtrl.entered()" exiting="parkCtrl.exited()" active="{{parkCtrl.active}}" flipping>
	<div id="parking-inactive" ng-show="!parkCtrl.active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
	<div id="parking-active" ng-show="parkCtrl.active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p>Current Parking Level: {{parkCtrl.parkingData.parkingLevels}} / {{parkCtrl.parkingData.maxParkingLevels}}</p>
		<p class="underline">Cost to Expand: {{ (parkCtrl.parkingData.parkingLevels + 1) * parkCtrl.parkingData.parkingExpandCost | currency}}</p>
		<button type="button" class="btn btn-info" ng-click="parkCtrl.expandParking()" onclick="event.stopPropagation();">Expand Parking Lot</button>
	</div>
</div>