<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="SalonController as salonCtrl" ng-show="salonCtrl.state.isStarted && !salonCtrl.state.isHelp" entering="salonCtrl.entered()" exiting="salonCtrl.exited()">
	<div id="salon-inactive" ng-show="!salonCtrl.active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
	<div id="salon-active" ng-show="salonCtrl.active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<button type="button" class="btn btn-info" ng-click="">Buy</button>
	</div>
</div>