<div id="snack-container" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="SnackController as snackCtrl" ng-show="snackCtrl.state.isStarted && !snackCtrl.state.isHelp && !snackCtrl.state.isGameOver && !snackCtrl.state.isEvent" entering="snackCtrl.entered()" exiting="snackCtrl.exited()" active="{{snackCtrl.active}}" flipping>
	<div id="snack-inactive" ng-show="!snackCtrl.active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
	<div id="snack-active" ng-show="snackCtrl.active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p class="underline">Snacks Offered: {{snackCtrl.snackData.numOfSnacks}} / {{snackCtrl.snackData.maxSnacks}}</p>
		<p class="underline">Cost to Expand: {{ (snackCtrl.snackData.numOfSnacks + 1) * snackCtrl.snackData.newSnackPriceMultiplier | currency}}</p>
		<button type="button" class="btn btn-info" ng-click="snackCtrl.increaseSnacks()" onclick="event.stopPropagation();">Buy New Snack</button>
	</div>
</div>