<div ng-controller="StartController as startCtrl">
	<div id="startModal" ng-show="!startCtrl.state.isStarted">
		<p>Welcome to Cinema Tycoon!</p>
		<p>As an up-and-coming entrepreneur and aficionado of the silver screen, you've recently leased a chunk of mall real-estate for the purpose of running a movie theater.</p>
		<p>One day, if you play your cards right, you could even produce your <i>own</i> films.</p>
		<p>Whether you play it fast and loose, or cautiously slow, your ultimate goal is to turn your seed money into a million dollars. Do that, and you've won. Drop more than $1,000 in debt and the landowner will pull your lease.</p>
		<button type="button" class="btn btn-default col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4" ng-click="startCtrl.activateTime(3)">Start</button>
	</div>
	<div id="helpModal" ng-show="startCtrl.state.isHelp">
		<h3 class="centered">Help?</h3>
		<hr/>
		<p></p>
		<p>A</p>
		<p>O</p>
		<p>W</p>
		<button type="button" class="btn btn-default col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4" ng-click="startCtrl.exitHelp()">Close</button>
	</div>
	<div ng-show="startCtrl.state.isStarted">
		<button id="pause" type="button" class="btn btn-info glyphicon glyphicon-pause col-lg-1 col-lg-offset-4 col-md-1 col-md-offset-4 col-sm-1 col-sm-offset-4 col-xs-1 col-xs-offset-4" ng-show="!startCtrl.state.isPaused" ng-click="startCtrl.pauseTime()"></button>
		<button id="play" type="button" class="btn btn-info glyphicon glyphicon-play col-lg-1 col-lg-offset-4 col-md-1 col-md-offset-4 col-sm-1 col-sm-offset-4 col-xs-1 col-xs-offset-4" ng-show="startCtrl.state.isPaused && !startCtrl.state.isHelp" ng-click="startCtrl.unpauseTime()"></button>
		<button id="help" type="button" class="btn btn-info glyphicon glyphicon-question-sign col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2 col-sm-1 col-sm-offset-2 col-xs-1 col-xs-offset-2" ng-show="startCtrl.state.isStarted && !startCtrl.state.isHelp" ng-click="startCtrl.needHelp()"></button>
	</div>
</div>