<div ng-controller="StartController as startCtrl">
	<div id="start-modal" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" ng-if="!startCtrl.state.isStarted && !startCtrl.state.isGameOver && !startCtrl.state.isEvent">
		<p>Welcome to Cinema Tycoon!</p>
		<p>As an up-and-coming entrepreneur and aficionado of the silver screen, you've recently leased a chunk of mall real-estate for the purpose of running a movie theater.</p>
		<p>One day, if you play your cards right, you could even produce your <i>own</i> films.</p>
		<p>Whether you play it fast and loose, or cautiously slow, your ultimate goal is to turn your seed money into a million dollars and produce at least 3 movies. Do that, and you've won. Drop more than $10,000 into debt and the landowner will pull your lease.</p>
		<br/>
		<div role="radiogroup" class="row text-center">
			<div class="col-xs-12" style="margin-bottom: 15px;">Choose difficulty level:</div>
			<div class="radio-option col-xs-4">
				<span class="row" ng-click="startCtrl.changeDifficulty(0)">
					<label for="easyMode" class="col-xs-12">Easy</label>
					<input id="easyMode" type="radio" class="col-xs-12"/>
				</span>
			</div>
			<div class="radio-option col-xs-4">
				<span class="row" ng-click="startCtrl.changeDifficulty(1)">
					<label for="normalMode" class="col-xs-12">Normal</label>
					<input id="normalMode" type="radio" checked class="col-xs-12" />
				</span>
			</div>
			<div class="radio-option col-xs-4">
				<span class="row" ng-click="startCtrl.changeDifficulty(2)">
					<label for="hardMode" class="col-xs-12">Hard</label>
					<input id="hardMode" type="radio" class="col-xs-12"/>
				</span>
			</div>
		</div>
		<p ng-if="startCtrl.checkIfLoaded()" style="color: #FFFF00; text-align: center;">Loading assets...  (If longer than 5 seconds, refresh page)</p>
		<button type="button" class="btn btn-default col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4" ng-click="startCtrl.activateTime(3)" ng-if="!startCtrl.checkIfLoaded()">Start</button>
	</div>
	<div id="help-modal" class="container col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12" ng-show="startCtrl.state.isHelp && !startCtrl.state.isGameOver && !startCtrl.state.isEvent">
		<div class="row" style="margin-top: 10px;">
			<button class="btn col-lg-1 col-lg-offset-10 col-md-1 col-md-offset-10 col-sm-1 col-sm-offset-10 col-xs-2 col-xs-offset-9" ng-click="startCtrl.exitHelp()"/>X
		</div>
		<h3 class="centered">Help?</h3>
		<hr class="col-lg-11 col-md-11 col-sm-11 col-xs-11"/>
		<div  class="row">
			<label class="col-lg-5 col-md-5 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" for="help-selection">Choose a help section</label>
			<select class="col-lg-6 col-md-6 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" id="help-select" ng-model="startCtrl.state.helpChoice" ng-change="startCtrl.changeHelpSection({{value}})" onclick="event.stopPropagation();">
				<option id="win-help" value="isHelpWin">WIN</option>
				<option id="lose-help" value="isHelpLose">LOSE</option>
				<option id="help-help" value="isHelpHelp">HELP</option>
				<option id="time-help" value="isHelpTime">TIME</option>
				<option id="ticket-help" value="isHelpTicket">TICKET PRICE</option>
				<option id="parking-help" value="isHelpParking">PARKING</option>
				<option id="snacks-help" value="isHelpSnacks">SNACKS</option>
				<option id="games-help" value="isHelpGames">GAMES</option>
				<option id="employees-help" value="isHelpEmployees">EMPLOYEES</option>
				<option id="promotion-help" value="isHelpPromotion">PROMOTION</option>
				<option id="leases-help" value="isHelpLeases">MOVIE LEASES</option>
				<option id="movie-maker-help" value="isHelpMovieMaker">MOVIE MAKER</option>
				<option id="seats-help" value="isHelpSeats">SEATS</option>
				<option id="upgrades-help" value="isHelpUpgrades">SALON UPGRADE</option>
				<option id="movie-playing-help" value="isHelpMoviePlaying">MOVIE PLAYING</option>
				<option id="salons-help" value="isHelpSalons">SALONS</option>
				<option id="random-events-help" value="isHelpRandomEvents">RANDOM EVENTS</option>
			</select>
		</div>
		<hr class="col-lg-11 col-md-11 col-sm-11 col-xs-11"/>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpWin'" class="row"><span class="glyphicon glyphicon-asterisk col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">WIN: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">Ultimate goal is to earn enough money to call yourself a millionaire movie maker. If you have $1,000,000 in the bank at the end of a given business week, and have produced at least three films, then you have won the game. But, beware: You must accomplish this goal before the conclusion of your third year.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpLose'" class="row"><span class="glyphicon glyphicon-flag col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">LOSE: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">Other than running out of time, there's only one way to lose: bankruptcy. Whether your employees are simply tired of late paychecks, you can't pay rent on your lease, or the bank repossesses your equipment, if you drop below -$10,000 you lose it all.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpHelp'" class="row"><span class="glyphicon glyphicon-question-sign col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">HELP: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">At any time, you can press the help button to better understand how the game works. While in help mode, the game time is automatically paused for you. When you leave help mode by pressing the close button, game time resumes.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpTime'" class="row"><span class="glyphicon glyphicon-hourglass col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">TIME: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">Each game day lasts approximately 3 seconds in real time. It can be paused by pressing the <span class="glyphicon glyphicon-pause"></span> or the help button <span class="glyphicon glyphicon-question-sign"></span>. It can be resumed by pressing the play button <span class="glyphicon glyphicon-play"></span>. Each day, profits are added to your bank total. Each week your expenses are deducted from your bank.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpTime'" class="row"><span class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-7 col-xs-offset-5">Time has three measurements in game: day, week, season, and year. Day, Week, and Year are calculated as you'd expect (7 days in a week, 365 days in a year, etc.). Seasons, however, change exactly every 90 days and have a direct impact on how popular some movies are at a given moment.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpTicket'" class="row"><span class="glyphicon glyphicon-erase col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">TICKET PRICE: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">From the "Ticket Booth," ticket price can be lowered or increased. The price of a ticket severely affects a patron's interest in entering the theater. At a certain point, a price too high could ensure almost no one will buy one. A price too low and you'll go bankrupt in no time.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpParking'" class="row"><span class="glyphicon glyphicon-road col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">PARKING: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">Although this upgrade doesn't directly accrue revenue, it does significantly improve the desire to purchase tickets. It's expensive, and each improvement costs more in weekly land lease fees. Make sure you have enough seats in your theater to justify this improvement.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpSnacks'" class="row"><span class="glyphicon glyphicon-cutlery col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">SNACKS: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">An alternate source of revenue, additional snacks can be purchased at the "Concession Stand." This improvement is directly dependent on patrons entering your theater. If zero tickets are sold, then no snacks can be purchased. More people, means more snack revenue. Beware! Like most improvements, each machine that makes each snack is leased at an increasingly higher amount (but earns more as well). Make sure you have the patrons to justify having these snacks.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpGames'" class="row"><span class="glyphicon glyphicon-object-align-vertical col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">GAMES: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">An alternate source of revenue, additional arcade games can be purchased at the "Games" module. This improvement is directly dependent on patrons entering your theater. If zero tickets are sold, then no games can be played. More people, means more games revenue. Beware! Like most improvements, each arcade machine is leased at an increasingly higher amount (but earns more as well). Make sure you have the patrons to justify having these games.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpEmployees'" class="row"><span class="glyphicon glyphicon-user col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">EMPLOYEES: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">The people who run the ticket booth, serve as valets, clean the bathroom, and serve your snacks, are the people directly responsible for why a patron might return. Not enough employees and your cinema will look run down and dirty. More than enough and it will look like a shining beacon of entertainment. More employees equals more tickets sold. Less employees means...well...less tickets sold. To hire or fire employees, go to the "Office" module.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpPromotion'" class="row"><span class="glyphicon glyphicon-bullhorn col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">PROMOTION: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">In the "Office" module, you can elect to better advertise your business in the form of promotions. Each one costs more than the last as a weekly expense, so make sure you have the seats available to make it worth the while.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpLeases'" class="row"><span class="glyphicon glyphicon-film col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">MOVIE LEASES: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">A theater without movies to play is a pointless endeavor. Since nothing is free, you must purchase licenses from production companies. Each movie has optimal seasons and terrible seasons in which to be played. They have expected popularity, which is accurate "some" of the time. The cost of the lease is how much expense accrues each week from having it. Lastly, the length of lease is how many weeks the lease will last. After that, it expires, and is removed from your collection of movies. To purchase new movie licenses, go to the "Office" module. To look at leases already owned, check them out in one of your "Salons."</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpMovieMaker'" class="row"><span class="glyphicon glyphicon-facetime-video col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">MOVIE MAKER: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">Any true fan of the film industry has considered making a film in some capacity. It is even one of the requisites for winning the game. To produce a movie, go to the "Workshop" module and select the option. It will cost a small fortune, so make sure to do it only when you're financially ready.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpMovieMaker'" class="row"><span class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-7 col-xs-offset-5">A movie produced will allow a title, synopsis, optimal season, worst season, lease cost, and lease duration to be chosen by you, the producer. Popularity is chosen at random. Once made, your movie is stored in the database and licenses for it can be purchased by other users, playing other instances of Cinema Tycoon. As the producer, lease durations don't apply to you. Use it for as long as you like.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpSeats'" class="row"><span class="glyphicon glyphicon-object-align-bottom col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">SEATS: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">Located in the "Salon" module, each salon has a maximum of 100 seats, and a minimum of 10. Seats can be purchased within that range at a fixed cost for each. Don't worry, additional seats don't equal additional expense. Keep in mind, you can't sell more tickets than you have seats. Therefore, your total seat number directly correlates to your maximum number of tickets sold that day.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpUpgrades'" class="row"><span class="glyphicon glyphicon-stats col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">SALON UPGRADE: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">Each salon you own can be upgraded in three areas through the "Salon" module: "Projector Resolution", "Screen Size", and "Sound Quality." Increasing these costs money up-front, but has no weekly expense attached. It will improve the odds that patrons will want to purchase tickets for the movie playing in that salon.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpMoviePlaying'" class="row"><span class="glyphicon glyphicon-expand col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">MOVIE PLAYING: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">Each salon in the "Salon" module can be playing one movie at a time. This can be altered at any time, but must have the movie licenses available. A salon with no movie playing will sell no tickets.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpSalons'" class="row"><span class="glyphicon glyphicon-blackboard col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">SALONS: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">Salons can be purcahased (built) by pressing the button located at the bottom of the screen, up to a set maximum. There is an upfront construction cost and a weekly expense for land leases, loans on construction costs, etc.. It would be wise not to build additional salons until you have maximized the seats in your existing salons.</span></div>
		<div ng-if="startCtrl.state.helpChoice === 'isHelpRandomEvents'" class="row"><span class="glyphicon glyphicon-random col-lg-1 col-md-1 col-sm-1 col-xs-2"></span><span class="col-lg-2 col-md-2 col-sm-2 col-xs-3">RANDOM EVENTS: </span><span class="col-lg-9 col-md-9 col-sm-9 col-xs-7">Periodically, random events will occur. These events can be positive or negative in their outcome, mitigated by the decisions you make for each one. Their consequence is always in the form of immediate profit or expense.</span></div>
		<button type="button" class="btn btn-default col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4" ng-click="startCtrl.exitHelp()">Close</button>
	</div>
	<div id="game-over-modal" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" ng-show="startCtrl.state.isStarted && !startCtrl.state.isHelp && startCtrl.state.isGameOver && !startCtrl.state.isEvent">
		<p>You {{startCtrl.state.isWin}}!</p>
		<p>{{startCtrl.state.endGameMsg}}</p>
		<button type="button" class="btn btn-default col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4" ng-click="startCtrl.restartGame()">Play Again</button>
	</div>
	<div ng-show="startCtrl.state.isStarted && !startCtrl.state.isGameOver&& !startCtrl.state.isEvent">
		<button id="pause" type="button" class="btn btn-info controls glyphicon glyphicon-pause col-lg-1 col-lg-offset-4 col-md-1 col-md-offset-4 col-sm-1 col-sm-offset-4 col-xs-1 col-xs-offset-4" ng-show="!startCtrl.state.isPaused" ng-click="startCtrl.pauseTime(true)"></button>
		<button id="play" type="button" class="btn btn-info controls glyphicon glyphicon-play col-lg-1 col-lg-offset-4 col-md-1 col-md-offset-4 col-sm-1 col-sm-offset-4 col-xs-1 col-xs-offset-4" ng-show="startCtrl.state.isPaused && !startCtrl.state.isHelp" ng-click="startCtrl.unpauseTime(true)"></button>
		<button id="help" type="button" class="btn btn-info controls glyphicon glyphicon-question-sign col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2 col-sm-1 col-sm-offset-2 col-xs-1 col-xs-offset-2" ng-show="startCtrl.state.isStarted && !startCtrl.state.isHelp" ng-click="startCtrl.needHelp()"></button>
	</div>
	<div id="events-modal" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" ng-show="startCtrl.state.isStarted && !startCtrl.state.isHelp && !startCtrl.state.isGameOver && startCtrl.state.isEvent">
		<h2>Event - {{startCtrl.currentEvent.eventTitle}}</h2>
		<hr>
		<p>{{startCtrl.currentEvent.eventMsg}}</p>
		<div ng-show="!startCtrl.currentEvent.selectedResult">
			<div style="margin-top: 25px;">
				<input type="radio" ng-model="startCtrl.currentEvent.choice" value="A"/>
				<div>
					{{startCtrl.currentEvent.eventOptA}}
				</div>
			</div>
			<div>
				<input type="radio" ng-model="startCtrl.currentEvent.choice" value="B"/>
				<div>
					{{startCtrl.currentEvent.eventOptB}}
				</div>
			</div>
			<div>
				<input type="radio" ng-model="startCtrl.currentEvent.choice" value="C"/>
				<div>
					{{startCtrl.currentEvent.eventOptC}}
				</div>
			</div>
			<div style="margin-bottom: 25px;">
				<input type="radio" ng-model="startCtrl.currentEvent.choice" value="D"/>
				<div>
					{{startCtrl.currentEvent.eventOptD}}
				</div>
			</div>
			<button type="button" class="btn btn-info col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4" ng-click="startCtrl.submitEventChoice()" style="margin-bottom: 15px;">Commit Action</button>
		</div>
		<div ng-show="startCtrl.currentEvent.selectedResult">
			<p>YOUR CHOICE: {{startCtrl.currentEvent.selectedOption}}</p>
			<p>THE RESULT: {{startCtrl.currentEvent.selectedResult}}</p>
			<button type="button" class="btn btn-info col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4" ng-click="startCtrl.exitModal()">Back to Game</button>
		</div>
	</div>
</div>