<div id="ticket-booth-container" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-controller="FrontDoorController as fdCtrl" ng-show="fdCtrl.state.isStarted && !fdCtrl.state.isHelp && !fdCtrl.state.isGameOver" entering="fdCtrl.entered()" exiting="fdCtrl.exited()" active="false" flipping>
	<div id="ticket-booth-inactive" ng-show="!fdCtrl.active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
	<div id="ticket-booth-active" ng-show="fdCtrl.active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p class="underline">Ticket Price</p>
		<p ng-bind="fdCtrl.miscData.ticketPrice | currency"></p>
		<button type="button" class="btn btn-info" ng-click="fdCtrl.lowerTicketPrice()" onclick="event.stopPropagation();">Reduce Price</button>
		<button type="button" class="btn btn-info" ng-click="fdCtrl.raiseTicketPrice()" onclick="event.stopPropagation();">Increase Price</button>
	</div>
</div>